name: Lint
# Make sure only one action triggers the job, otherwise pushing to a
# pull-request will run it twice.
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - "*"
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install yamllint
        run: sudo apt-get install -y yamllint aspell
      - name: "Clone Repository"
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: Run linters
        run: make lint
